$icon-core-arrow-left: "\e900";
$icon-core-arrow-right: "\e901";
$icon-core-arrow-up: "\e902";
$icon-core-arrow-down: "\e903";
$icon-core-chevron-left: "\e012";
$icon-core-chevron-right: "\e00b";
$icon-core-chevron-down: "\e00f";
$icon-core-chevron-up: "\e075";
$icon-core-arrow-back: "\e904";
$icon-core-arrow-back2: "\e905";
$icon-core-cross: "\e906";
$icon-core-square: "\e907";
$icon-core-checkbox: "\e01e";
$icon-core-stack: "\e908";
$icon-core-stack-2: "\e010";
$icon-core-trash: "\e909";
$icon-core-profile: "\e000";
$icon-core-profile-edit: "\e004";
$icon-core-map: "\e003";
$icon-core-location: "\e007";
$icon-core-download: "\e002";
$icon-core-download-2: "\e00a";
$icon-core-upload: "\e005";
$icon-core-database: "\e008";
$icon-core-database-edit: "\e009";
$icon-core-mail: "\e90a";
$icon-core-mail-2: "\e013";
$icon-core-share: "\e01b";
$icon-core-power: "\e01d";
$icon-core-book: "\e006";
$icon-core-edit: "\e00e";
$icon-core-search: "\e016";
$icon-core-search-2: "\e90b";
$icon-core-list: "\e00c";
$icon-core-menu: "\e90c";
$icon-core-calendar: "\e00d";
$icon-core-clock: "\e014";
$icon-core-comments: "\e011";
$icon-core-comments-2: "\e015";
$icon-core-speech: "\e90d";
$icon-core-phone: "\e017";
$icon-core-screen: "\e027";
$icon-core-tablet: "\e919";
$icon-core-print: "\e024";
$icon-core-lock: "\e90e";
$icon-core-unlock: "\e90f";
$icon-core-lock-2: "\e018";
$icon-core-shopping: "\e019";
$icon-core-shopping-2: "\e910";
$icon-core-tag: "\e031";
$icon-core-expand: "\e01a";
$icon-core-refresh: "\e01c";
$icon-core-recycle: "\e911";
$icon-core-filter: "\e01f";
$icon-core-info: "\e020";
$icon-core-warning: "\e021";
$icon-core-folder: "\e022";
$icon-core-document: "\e02a";
$icon-core-document-download: "\e023";
$icon-core-document-edit: "\e025";
$icon-core-document-email: "\e026";
$icon-core-document-search: "\e028";
$icon-core-document-trash: "\e029";
$icon-core-documents: "\e02b";
$icon-core-contact-list: "\e02c";
$icon-core-control-end: "\e077";
$icon-core-control-forward: "\e078";
$icon-core-control-next: "\e083";
$icon-core-control-pause: "\e085";
$icon-core-control-play: "\e086";
$icon-core-control-previous: "\e087";
$icon-core-control-reverse: "\e08d";
$icon-core-control-rewind: "\e08f";
$icon-core-control-start: "\e091";
$icon-core-control-stop: "\e092";
$icon-core-volume: "\e094";
$icon-core-mute: "\e096";
$icon-core-settings: "\e097";
$icon-core-settings-2: "\e098";
$icon-core-checkmark: "\e912";
$icon-core-checkmark-2: "\e035";
$icon-core-circle-filled: "\e158";
$icon-core-circle: "\e913";
$icon-core-circle-2: "\e05d";
$icon-core-minus: "\e914";
$icon-core-add: "\e915";
$icon-core-home: "\e916";
$icon-core-home-22: "\e917";
$icon-core-home-2: "\e02f";
$icon-core-home-4: "\e918";
