$Core-Icons: (
        arrow-left: "\e900",
        arrow-right: "\e901",
        arrow-up: "\e902",
        arrow-down: "\e903",
        chevron-left: "\e012",
        chevron-right: "\e00b",
        chevron-down: "\e00f",
        chevron-up: "\e075",
        arrow-back: "\e904",
        arrow-back2: "\e905",
        cross: "\e906",
        square: "\e907",
        checkbox: "\e01e",
        stack: "\e908",
        stack-2: "\e010",
        trash: "\e909",
        profile: "\e000",
        profile-edit: "\e004",
        map: "\e003",
        location: "\e007",
        download: "\e002",
        download-2: "\e00a",
        upload: "\e005",
        database: "\e008",
        database-edit: "\e009",
        mail: "\e90a",
        mail-2: "\e013",
        share: "\e01b",
        power: "\e01d",
        book: "\e006",
        edit: "\e00e",
        search: "\e016",
        search-2: "\e90b",
        list: "\e00c",
        menu: "\e90c",
        calendar: "\e00d",
        clock: "\e014",
        comments: "\e011",
        comments-2: "\e015",
        speech: "\e90d",
        phone: "\e017",
        screen: "\e027",
        tablet: "\e919",
        print: "\e024",
        lock: "\e90e",
        unlock: "\e90f",
        lock-2: "\e018",
        shopping: "\e019",
        shopping-2: "\e910",
        tag: "\e031",
        expand: "\e01a",
        refresh: "\e01c",
        recycle: "\e911",
        filter: "\e01f",
        info: "\e020",
        warning: "\e021",
        folder: "\e022",
        document: "\e02a",
        document-download: "\e023",
        document-edit: "\e025",
        document-email: "\e026",
        document-search: "\e028",
        document-trash: "\e029",
        documents: "\e02b",
        contact-list: "\e02c",
        control-end: "\e077",
        control-forward: "\e078",
        $icon-control-next: "\e083",
        control-pause: "\e085",
        control-play: "\e086",
        control-previous: "\e087",
        control-reverse: "\e08d",
        control-rewind: "\e08f",
        control-start: "\e091",
        control-stop: "\e092",
        volume: "\e094",
        mute: "\e096",
        settings: "\e097",
        settings-2: "\e098",
        checkmark: "\e912",
        checkmark-2: "\e035",
        circle-filled: "\e158",
        circle: "\e913",
        circle-2: "\e05d",
        minus: "\e914",
        add: "\e915",
        home: "\e916",
        home-22: "\e917",
        home-2: "\e02f",
        home-4: "\e918"
);